<div class = "container">
  <div class = "row">
    <%= form_with model: @article do |f| %>
    <%= f.label :タイトル %>
    <%= f.text_field :title%>
    <%= f.label :本文 %>
    <%= f.text_area :body %>
    <%= f.label :画像 %>
    <%= f.file_field :favorite, accept: "image/*" %>
    
    <%= f.submit'更新する' %>
    <% end %>
  </div>
</div>