<div class = "container">
  
  <div class = "row justify-content-center">
    <h6>新規登録画面</h6>
  </div>
  
  <div class = "row justify-content-center mb-5">
    <div class = "card bg-light">
      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user' do |f| %>
      <%= render "public/users/shared/error_messages", resource: resource %>
      
      <div class = "card-body">
        <div class = "form-group">
          <%= f.label :名前 %></br>
          <%= f.text_field :last_name, :placeholder => "姓" %>
          <%= f.text_field :first_name, :placeholder => "名" %>
        </div>
        
        <div class = "form-group">
          <%= f.label :フリガナ %></br>
          <%= f.text_field :last_name_kana, :placeholder => "セイ" %>
          <%= f.text_field :first_name_kana, :placeholder => "メイ" %>
        </div>
        
        <div class "form-group" >
          <%= f.label :アカウント %></br>
          <%= f.text_field :account, :placeholder => "アカウント名" %>
        </div>
        
        <div class "form-group">
          <%= f.label :メールアドレス %></br>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "メールアドレス" %>
        </div>
        
        <div class "form-group row mb-3">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", :placeholder => "パスワード" %>
        </div>
        
        <div class "form-group row">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "パスワード確認" %>
        </div>
        
        <div class "form-group">
          <%= f.label :プロフィール写真 %></br>
          <%= f.file_field :image %>
        </div>
        
        <div class="actions offset-3">
          <%= f.submit "新規登録", class: "btn btn-primary mt-3" %>
        </div>
      <% end %>
      </div>  
    </div>
    
  </div>
</div>

  


<%= render "public/users/shared/links" %>
