<div class  = "container">
  <div class = "row justify-content-start font-pupupu">
    <h4><%= @user.account %>さんの推しごとページ</h4>
  </div>

  <div class = "row justify-content-end" >
    <%= image_tag @user.image,size: '100x100', class: "rounded-circle" %>
  </div>
  <div class = "row justify-content-end font-pupupu" >
    <%= link_to likes_path do %>
     <i class="fas fa-heart" style="color: #ff0000;"></i>尊いリスト
    <% end %>
  </div>
  <div class = "row justify-content-end font-pupupu" >
    <%= link_to "フォロー",user_followings_path(@user.id) %>／
    <%= link_to "フォロワー", user_followers_path(@user.id) %>
  </div>
  <div class = "row justify-content-end font-pupupu" >
    <!--フォロー機能（自分のページには表示されない）-->
    <% unless @user == current_user %>
      <% if current_user.following?(@user) %>
        <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete %>
      <% else %>
        <%= link_to "フォローする", user_relationships_path(@user.id), method: :post %>
      <% end %>
    <% end %>
  </div>

  <div class = "row justify-content-end font-pupupu">
    <% if @user.id == current_user.id %>
      <%= link_to "布教する", new_article_path %>
    <% end %>
  </div>

  <div class = "row justify-content-end mb-3 font-pupupu">
    <% if @user.id == current_user.id %>
     <%= link_to "編集する", edit_user_registration_path(@user.id) %>
    <% end %>
  </div>

  <div class = "card-deck mb-3" >
     <% @articles.each do |article| %>
     <div class = "card bordered-primary">
        <div class = "card-title" >
          <%= link_to article_path(article.id) do %>
           <p><%= article.title %></p>
          <% end %>
        </div>
        <div class = "card-body">
         <p class = "text-truncate w-10"><%= article.body %></p>
        </div>
     </div>
    <% end %>

  </div>
  <div class = "row justify-content-around font-pupupu">
    <%= paginate @articles %>
  </div>




    <div class = "row d-inline">
      <%= render 'public/schedules/schedule', schedules: @schedules %>
    </div>



  </div>


</div>
