<!DOCTYPE html>
<html>
  <head>
    <title>Oshigoto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "border-bottom mb-5">
      <div class = "container">
        <nav class = "navbar">
          <div class = "row">
            <div class = "navbar-brand">
               <%= link_to root_path do %>
                 <%= image_tag "oshigoto.JPEG", size: '400x200' %>
               <% end %>
            </div>
          </div>
          <div class = "row flex-column">
            <ul class = "navbar-nav ml-auto list-unstyled navbar-expand-md ">
              <!--ログインしている時のヘッダー-->
              <% if user_signed_in? %>
               <li class = "nav-item mr-1 font-pupupu">
                 <i class="fas fa-user"></i><%= link_to "マイページ", user_path(current_user.id), class: "text-secondary" %>
               </li>
               <li class = "nav-item mr-1 font-pupupu">
                 <i class="far fa-calendar"></i><%= link_to "カレンダー",schedules_path, class: "text-secondary" %>
               </li>
               <li class = "nav-item mr-1 font-pupupu">
                 <i class="far fa-handshake"></i><%= link_to "布教される",articles_path, class: "text-secondary" %>
               </li>
               <li class = "nav-item font-pupupu">
                 <i class="fas fa-sign-out-alt"></i><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-secondary" %>
               </li>

              <!--管理者がログインしている時-->
              <% elsif admin_signed_in? %>
               <li class = "nav-item font-pupupu">
                 <%= link_to "会員一覧", admin_users_path, class: "text-secondary" %>
               </li>
               <li class = "nav-item font-pupupu">
                 <%= link_to "布教一覧", admin_articles_path, class: "text-secondary" %>
               </li>
               <li class = "nav-item font-pupupu">
                 <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "text-secondary" %>
               </li>

              <!--ログインしていないとき-->
              <% else %>
               <li class = "nav-item font-pupupu">
                 <%= link_to "新規登録", new_user_registration_path, class: "text-secondary" %>
               </li>
               <li class = "nav-item font-pupupu">
                 <%= link_to "ログイン", new_user_session_path, class: "text-secondary" %>
               </li>
               <li class = "nav-item font-pupupu">
                 <%= link_to "About", about_path, class: "text-secondary" %>
               </li>
              <% end %>
            </ul></br>
            <ul class = ""> <!--検索機能-->
             <%= form_with url: search_path, method: :get do |f| %>
             <%= f.text_field :keyword, class: "font-pupupu", :placeholder => "サーチ" %>
             <%= f.select :range, options_for_select([['ユーザー'], ['布教']]), class: "font-pupupu" %>
             <%= f.submit '探す', class: "btn btn-success btn-sm font-pupupu" %>
            <% end %>
            </ul>


          </div>
        </nav>
      </div>
    </header>

    <%= yield %>
    <footer class = "border-top mb-5">
      <div class = "container"></div>
    </footer>
  </body>

</html>
